.post {
  background-color: cornflowerblue;
  border-radius: 20px;
  min-height: 300px;
  max-width: 500px;
  transition: .2s;
  overflow: hidden;
  padding: 10px;
}
.post:hover {
  cursor: pointer;
  background-color: rgb(57, 126, 255);
}
.post__name {
  font-size: 35px;
  margin: 10px 0;

}
.post__text {
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
